body,
html {
  font-family: 'NanumSquare';
  margin: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 500;
  font-style: normal;
  src: url('/font/NanumSquareNeo-bRg.ttf') format('truetype');
}
